body {
  width: 600px;
  height: 440px;
  margin: 0;
  font-family: monospace, '-apple-system', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E2E4F6;
}

code {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas
}

#root {
  background-color: #E2E4F6;
  height: 100%;
  width: 100%;
}
