.nav-item {
  background-color: #E2E4F6;
  color: black;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 10px;
  border: 3px solid black;
  border-radius: 5px;
}

.nav-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: black;
}

.navbar-brand {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.link-button {
  text-decoration: none;
  font-family: monospace;
  color: black;
  font-weight: bold;
}

.link-button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: black;
  color: #E2E4F6;
}
