.nav-item {
    background-color: #FFF0CA;
    padding: 10px;
    color: black;
    position: absolute;
    right: 0;
    margin-right: 10px;
    border: 3px solid black;
    border-radius: 5px;
  }

  .nav-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: black;
  }

  .nav-link {
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-weight: bold;
  }

  .nav-link:hover {
    color: #FFF0CA;
  }

.navbar-brand {
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 20px;
}
