.landing-page-body {
    margin-top: 0;
    text-align: center;
    background-color: #FFF0CA;
}


.page-heading {
    margin-top: 100px;
    color: black;
    font-family: monospace;
    align-items: center;
}

.login-button {
    margin: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFF0CA;
}

.login-button:hover {
    transform: scale(1.05);
    background-color: black;
}

.login-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: monospace;
}

.login-link:hover {
    color: #FFF0CA;
}
