.landing-page-body {
    margin-top: 0;
    text-align: center;
    background-color: #E2E4F6;
}


.page-heading {
    margin-top: 100px;
    padding: 10px;
    color: black;
    font-family: monospace;
    align-items: center;
}

.link-button {
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
  }
  
.link-button:hover {
transform: scale(1.05);
cursor: pointer;
background-color: black;
color: #E2E4F6;
}
